# Core functionality - changes here should be rare!
/src/app.py                   @Jeyarakavan
/src/backend/database.py      @Jeyarakavan
/src/backend/routers/auth.py  @Jeyarakavan

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Jeyarakavan
